@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
}
.nav-link{
    font-weight: bold;
}

.carousel {
    margin-top: 5rem;
}
.carousel-caption h5 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.section-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.card {
    margin-bottom: 2rem;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

form .form-group label {
    font-weight: bold;
}
.text-white a {
    text-decoration: none;
}
